version: '3.8'

networks:
  app-network:
    driver: bridge

services:
  nginx:
    image: nginx:alpine
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
      - ./certs:/etc/ssl/certs:ro
      - ./private_keys:/etc/ssl/private:ro
    depends_on:
      - backend
      - frontend
    networks:
      - app-network

  postgres:
    image: postgres:15-alpine
    env_file:
      - .env
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - app-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U sikolia -d loftier_movies_db"]
      interval: 5s
      timeout: 5s
      retries: 5
    restart: unless-stopped

  backend:
    build: ./flask_blog_backend
    expose:
      - "5000"
    env_file:
      - .env
    environment:
      - SQLALCHEMY_DATABASE_URI=${SQLALCHEMY_DATABASE_URI}
    volumes:
      - ./flask_blog_backend:/app
    working_dir: /app
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - app-network
  
  frontend:
    build: ./loftierfrontend-vite
    expose:
      - "4173"
    command: npm run preview -- --host 0.0.0.0
    depends_on:
      - backend
    networks:
      - app-network
    

volumes:
  postgres_data: